* {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 15px;
}
body {
  width: 100svw;
  height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: brown;
}
.linkStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: rgb(200, 97, 7);
  color: rgb(240, 238, 238);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#txt-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 90%;
  text-align: center;
  flex-wrap: wrap;
}
header {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 80%;
}
.monsterimg {
  aspect-ratio: 1/1;
  max-width: 95%;
  max-height: 40%;
}
